@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #d2fc00;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}
